@model MarketplaceTCC.Models.ItensPedido

@{
    ViewBag.Title = "Delete";
}

<h2>Remover</h2>

<h3>Deseja remover do carrinho?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProdutosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutosId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remover" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Carrinho")
        </div>
    }
</div>
